/*******************************************************************************
Slate Theme for Github Pages
by Jason Costello, @jsncostello
*******************************************************************************/
@import url(pygment_trac.css);

/*******************************************************************************
MeyerWeb Reset
*******************************************************************************/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video
	{
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section	{
	display: block;
}

ol,ul {
	list-style: none;
}

blockquote,q {
	
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a:focus {
	outline: none;
}

/*******************************************************************************
Theme Styles
*******************************************************************************/
body {
	box-sizing: border-box;
	color: #b9b9ad;
	background-color: #0d0c0a;
	font-size: 14px;
	font-family: Lato, Arial, sans-serif;
	word-spacing: 0.15em;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

h1,h2,h3,h4,h5,h6 {
	margin: 10px 0;
	font-weight: normal;
	color: #ece8bb;
	letter-spacing: -1px;
	word-spacing: 0.2em;
}

h1 {
	font-size: 34px;
	font-weight: 700;
}

section h1 {
	border-bottom: 1px solid #384742;
	margin: 0 -20px;
	padding-left: 20px;
	padding-bottom: 1em;
}
header {
	border-top: 1px solid #1a282b;
}
#header_wrap header {
	margin-top: 30px;
}
header h1 a {
	color: #384742;
	font-size: 0.8em;
	font-weight: 300;
	font-style: italic;
}

h2 {
	margin-top: 2em;
	padding-bottom: 10px;
	font-size: 24px;
	color: #2e7a7c;
}

h2:BEFORE {
	content: ' ';
	height: 1px;
	width: 50%;
	background-color: #2e7a7c;
	display: inline-block;
	position: absolute;
	margin-top: 1.3em;
}

h3 {
	font-size: 20px;
}

h4 {
	font-size: 18px;
}

h5 {
	font-size: 16px;
}

h6 {
	font-size: 14px;
}

p {
	margin: 10px 0 15px 0;
}

a {
	text-decoration: none;
	color: #0c7b8e;
	text-shadow: none;
}

#main_content a:hover {
	text-decoration: underline;
}

em {
	font-style: italic;
}

strong {
	font-weight: bold;
}

img {
	position: relative;
	margin: 0 auto;
	max-width: 739px;
	padding: 5px;
	margin: 10px 0 10px 0;
	border: 1px solid #ebebeb;
	box-shadow: 0 0 5px #ebebeb;
	-webkit-box-shadow: 0 0 5px #ebebeb;
	-moz-box-shadow: 0 0 5px #ebebeb;
	-o-box-shadow: 0 0 5px #ebebeb;
	-ms-box-shadow: 0 0 5px #ebebeb;
}

pre,code {
	width: 100%;
	font-size: 14px;
	font-family: monospace;
}

pre {
	width: 80%;
	padding: 1em;
	overflow: visible;
	background-color: black;
	color: white;
	margin: 0 auto;
	border-radius: 4px;
}

code {
	padding: 3px;
	margin: 0 3px;
}

pre code {
	padding: 0;
	margin: 0;	
	display: block;
	box-shadow: none;
}

blockquote {
	color: #666;
	margin-bottom: 20px;
	padding: 0 0 0 20px;
	border-left: 3px solid #bbb;
}

ul,ol,dl {
	margin-bottom: 15px
}

ul li {
	list-style: inside;
	padding-left: 20px;
}

ol li {
	list-style: decimal inside;
	padding-left: 20px;
}

dl dt {
	font-weight: bold;
}

dl dd {
	padding-left: 20px;
	font-style: italic;
}

dl p {
	padding-left: 20px;
	font-style: italic;
}

table {
	border: 1px solid #373737;
	margin-bottom: 20px;
	text-align: left;
}

th {
	padding: 10px;
	background: #373737;
	color: #fff;
}

td {
	padding: 10px;
	border: 1px solid #373737;
}

form {
	background: #f2f2f2;
	padding: 20px;
}

img {
	width: 100%;
	max-width: 100%;
}

section p + p {
	text-indent: 1em;
}
section > p {
	margin-right: 2em;
	text-align: justify;
}

/*******************************************************************************
Full-Width Styles
*******************************************************************************/
.outer {
	width: 100%;
}

.inner {
	position: relative;
	max-width: 720px;
	padding: 0 20px;
	margin: 0 auto;
}

#forkme_banner {
	display: block;
	position: absolute;
	top: 0;
	top: 10px;
	right: 0;
	z-index: 10;
	padding: 10px 50px 10px 10px;
	color: #B9B9AD;
	background: url('../img/blacktocat.png') #2e7a7c no-repeat 95% 50%;
	box-shadow: 0 0 10px rgba(0, 0, 0, .5);
	border-radius: 3px;
	font-weight: 300;
}
#forkme_banner:hover {
	color: white;
	background-color: #0C7B8E;	
}

#project_title {
	margin: 0;
	color: #fff;
	font-size: 42px;
	font-weight: 700;
	width: 50%;
	display: inline-block;
}

#main_content {
	border-bottom: 1px solid #1a282b;
}
footer {
	font-size: 80%;	
}

/*******************************************************************************
Small Device Styles
*******************************************************************************/
@media screen and (max-width: 480px) {
	body {
		font-size: 14px;
	}
	#downloads {
		display: none;
	}
	.inner {
		min-width: 320px;
		max-width: 480px;
	}
	#project_title {
		font-size: 32px;
	}
	h1 {
		font-size: 28px;
	}
	h2 {
		font-size: 24px;
	}
	h3 {
		font-size: 21px;
	}
	h4 {
		font-size: 18px;
	}
	h5 {
		font-size: 14px;
	}
	h6 {
		font-size: 12px;
	}
	code,pre {
		min-width: 320px;
		max-width: 480px;
		font-size: 11px;
	}
}